@page "/download"
@attribute [StreamRendering]
@inject BlazorFront.Services.FileService FileService

<PageTitle>Download File</PageTitle>

<h1>Download File</h1>

<div>
    <button class="btn btn-primary" @onclick="Download">Download translated file</button>
</div>

@code{
    private async Task Download()
    {

    }
}
